body{
background-color: #E0D3AF;
}

.outlying-container{
  display:grid;
   grid-template-columns: auto auto;
}


    .outlying-container{
  display:grid;
   grid-template-columns: 66% 34%;
}
.text-grid{
text-align: center;
margin: auto;
}

.tolerate-origin-size-responsive{
  width: 100%;
  height: auto;
}
